<div class="linea">
  <div class="parte">
    <a href="LOL.html">LOL</a>
    </div>
    <div class="parte">
     <a href="Peliculas.html">Peliculas</a>
      </div>
      <div class="parte">
         <a href="Dragon Ball.html">Dragon Ball</a>
        </div>
        <div class="parte">
          <a href="waifus.html">Waifus</a>
          </div>
          <div class="parte">
            <a href="Ratchet and Clank.html">Ratchet and Clank</a>
            </div>
            </div>
