
<div class="linea">
  <div class="borde">
    <a href="index.html">Menu</a>
  </div>

<div class="linea">
  <div class="borde">
    <a href="Op.html">Openings Favoritos</a>
  </div>

<div class="linea">
  <div class="borde">
    <a href="Ed.html">Endings Favoritos</a>
  </div>

<div class="linea">
  <div class="borde">
    <a href="CallofDuty.html">Call of Duty</a>
  </div>

<div class="linea">
  <div class="borde">
    <a href="index.html">Animes en emisión</a>
  </div>
  </div>

<div class="linea">
  <div class="menu">
   <a href="Anime.html">Anime</a>
   </div>

  <div class="menu">
  <a href="Información">Información</a>
  </div>

  <div class="menu">
    <a href="Videojuegos.html">Videojuegos</a>
  </div>

  <div class="menu">
    <a href="Personajes.html">Personajes</a>
  </div>
</div>