* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

.linea { width: 100%;
  background-color: teal;
  border: thin solid black;
  color: Yellow;
}

.imagen { float: right;}
.imagen { float: left;}

.linea:after {
  content: "";
  display: table;
  clear: both;
  border: thin solid black;
}

.imagen {
  width: 50%;
  float: left; /* también con display: inline;*/
border: thin solid black;
}

.imagen img{
  width: 100%;
}

.resumen{
  width: 50%;
  float: left; /* también con display: inline;*/
  padding: 1em;
  color: Yellow;
}

.borde{
  border: thin solid black;
  width: 20%;
  float: left; /* también con display: inline;*/
  text-align: center;
  background-color: Yellow;
  color: White;
}

.menu{
  border: thin solid black;
  width: 25%;
  text-align: center;
  float: left; /* también con display: inline;*/
  background-color: Yellow;
  color: white;

}


.parte{
  border: thin solid black;
  width: 20%;
  text-align: center;
  float: left; /* también con display: inline;*/
  background-color: Yellow;
  color: White;
}
